<div class="foot text-center">
  <div class="parent d-flex justify-content-between align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="p-3">
            <h3>LOCATION</h3>
            <p>Morocco</p>
            <p>AGADIR , 80000</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="p-3">
            <h3>AROUND THE WEB</h3>
            <div class="icons">
              <ul>
                <!-- <li><i class="fa-brands fa-facebook"></i></li> -->
<!--                 <li><a href="https://twitter.com/_B13X_"><i class="fa-brands fa-twitter"></i></a></li> -->
                <li><a href="https://www.linkedin.com/in/mohamed-bengra-529971233/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="https://github.com/BengraMohamed"><i class="fa-brands fa-github"></i></a></li>

                <!-- <li>
                  <a href="https://portfolio-angular-ashen.vercel.app/home"></a>
                  <i class="fa-solid fa-globe"></i>
                </li> -->
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="p-3">
            <h3>ABOUT ME</h3>
            <p>
              It is my privilege to introduce myself as a talented,
              ambitious, and hardworking individual with a wealth of experience and skills in full-stack development,
               UI/UX design, and video editing.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyRight p-3">
    <p>
       ©Made And design by
      <a
        href="https://www.linkedin.com/in/mohamed-bengra-529971233/"
        target="_blank"
        >BENGRA Mohamed </a
      >
    </p>
  </div>
</div>
