<section class="contact text-center py-5">
  <div class="info my-5">
    <h2>Contact Section</h2>

    <div
      class="d-flex justify-content-center align-items-center text-white mt-3" >
      
      
      <div class="line me-3"></div>
      <i class="fa-solid fa-star"></i>

      
      <div class="line ms-3"></div>
    </div> <br/>

    <h2>Email : mohamed.bengra@outlook.com</h2>
    <h2>Phone  :+212 689901798</h2>
    <h2><a href="https://www.linkedin.com/in/mohamed-bengra-529971233/">Linkdin</a></h2>
    <h2><a href="https://github.com/Bolivar13">Github</a></h2>




  </div>

  <div class="container">
    <div class="row">
      <div class="form w-50 mx-auto p-3 mt-3">
       
      
    
      </div>
    </div>
  </div>
</section>
