<section class="contact-dev-cinematic">
  <!-- HEADER -->
  <div class="contact-header">
    <h1>Contact</h1>

    <div class="tech-divider">
      <span></span>
      <i class="fa-solid fa-paper-plane"></i>
      <span></span>
    </div>

    <p>
      Open to professional opportunities, collaborations, and meaningful
      technical discussions.
    </p>
  </div>

  <!-- CONTACT CARD -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-card">
          <!-- INFO -->
          <div class="contact-info">
            <div class="info-item">
              <i class="fa-solid fa-location-dot"></i>
              <div>
                <span>Location</span>
                <p>Agadir, Morocco · 80000</p>
              </div>
            </div>

            <div class="info-item">
              <i class="fa-solid fa-envelope"></i>
              <div>
                <span>Email</span>
                <p>mohamed.bengra@outlook.com</p>
              </div>
            </div>
            <div class="info-item">
              <i class="fa-solid fa-phone"></i>
              <div>
                <span>Phone</span>
                <p>+212 689 90 17 98</p>
              </div>
            </div>
            
            <div class="info-item">
              <a
                href="https://www.linkedin.com/in/mohamed-bengra-529971233/"
                target="_blank"
                aria-label="LinkedIn"
              >
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <div>
                <span>Linkedin</span>
                <a
                  href="https://www.linkedin.com/in/mohamed-bengra-529971233/"
                  target="_blank"
                  aria-label="LinkedIn"
                >
                  <p>linkedin.com/in/mohamed-bengra-529971233/</p></a
                >
              </div>
            </div>

            <div class="info-item">
              <a
                href="https://www.linkedin.com/in/mohamed-bengra-529971233/"
                target="_blank"
                aria-label="Github"
              >
                <i class="fa-brands fa-github"></i>
              </a>
              <div>
                <span>Github</span>
                <a
                  href="https://github.com/BengraMohamed"
                  target="_blank"
                  aria-label="Github"
                >
                  <p>github.com/BengraMohamed</p></a
                >
              </div>
            </div>
          </div>

          <!-- SOCIAL -->
          <!-- <div class="contact-social"> -->
          <!-- <a
              href="https://www.linkedin.com/in/mohamed-bengra-529971233/"
              target="_blank"
              aria-label="LinkedIn"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>

            <a
              href="https://github.com/BengraMohamed"
              target="_blank"
              aria-label="GitHub"
            >
              <i class="fa-brands fa-github"></i>
            </a> -->

          <!-- ------------------------------- -->
          <!-- <a href="https://twitter.com/_B13X_" target="_blank" aria-label="Twitter">
              <i class="fa-brands fa-twitter"></i>
            </a> -->

          <!-- <a href="https://www.instagram.com/_b13x_/" target="_blank" aria-label="Instagram">
              <i class="fa-brands fa-instagram"></i>
            </a> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
