<section class="portfolio-parent py-5 text-center home-parent ">
  <div class="info py-5">
    <h2 class="fw-bold">PROJECTS REALISED</h2>

    <div class="d-flex justify-content-center align-items-center color mt-3">
      <div class="line me-3"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3"></div>
    </div>
  </div>

  <div class="container">
    <div class="row g-3">
      <!-- <div class="col-md-4">
        <div
          class="portfolio-item position-relative cursor-pointer"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <figure>
            <img src="assets/portfolio/poert1.png" class="w-100" alt="" />
          </figure>
          <figcaption
            class="layer d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </figcaption>
        </div>
      </div> -->

      <!-- <div class="col-md-4">
        <div
          class="portfolio-item position-relative cursor-pointer"
          data-bs-toggle="modal"
          data-bs-target="#Modal2"
        >
          <figure>
            <img src="assets/portfolio/port2.png" class="w-100" alt="" />
          </figure>
          <figcaption
            class="layer d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </figcaption>
        </div>
      </div> -->

      <!-- <div class="col-md-4">
        <div
          class="portfolio-item position-relative cursor-pointer"
          data-bs-toggle="modal"
          data-bs-target="#Modal3"
        >
          <figure>
            <img src="assets/portfolio/port3.png" class="w-100" alt="" />
          </figure>
          <figcaption
            class="layer d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </figcaption>
        </div>
      </div> -->


      <div class="col-md-4">
        <div
          class="portfolio-item position-relative cursor-pointer"
          data-bs-toggle="modal"
          data-bs-target="#Modal1"
        >
          <figure>
            <img src="assets/portfolio/prj1.png" class="w-100" alt="" />
          </figure>
          <h3 class="info my-5" >MUSIC PLATFORME PROJECT</h3>
          <figcaption
            class="layer d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </figcaption>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="portfolio-item position-relative cursor-pointer"
          data-bs-toggle="modal"
          data-bs-target="#Modal2" >
          <figure>
            <img src="assets/portfolio/prj2.png" class="w-100" alt="" />
          </figure>
          <h3 class="info my-5" >DPEE MINISTRY NEWS PROJECT</h3>

          <figcaption
            class="layer d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </figcaption>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="portfolio-item position-relative cursor-pointer"
          data-bs-toggle="modal"
          data-bs-target="#Modal3"
        >
          <figure>
            <img src="assets/portfolio/prj3.png" class="w-100" alt="" />
          </figure>
          <h3 class="info my-5" >CAR DEALERSHIP PROJECT </h3>

          <figcaption
            class="layer d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </figcaption>
        </div>
      </div>

      <div class="col-md-4">
        <div
          class="portfolio-item position-relative cursor-pointer"
          data-bs-toggle="modal"
          data-bs-target="#Modal4" >
          <figure>
            <img src="assets/portfolio/prj4b.png" class="w-100" alt="" />
          </figure>
          <h3 class="info my-5" >CAR MAINTENANCE PROJECT </h3>

          <figcaption
            class="layer d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </figcaption>
        </div>
      </div>
    </div>

   
   
    <!--^^ Model img ONE -->
    <div
      class="modal fade"
      id="Modal1"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i class="fa-solid fa-xmark fs-4 text-info"></i>
            </button>
          </div>

          <div class="modal-body p-0">
            <img src="assets/portfolio/prj1.png" class="w-100" alt="" />
            <h3 class="info my-5" > PROJECT CREATED BY HTML & CSS & JAVASCRIPT</h3>

          </div>
        </div>
      </div>
    </div>
    <!--^^ Model img 2 -->
    <div
      class="modal fade"
      id="Modal2"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i class="fa-solid fa-xmark fs-4 text-info"></i>
            </button>
          </div>

          <div class="modal-body p-0">
            <img src="assets/portfolio/prj2.png" class="w-100" alt="" />
            <h3 class="info my-5" > PROJECT CREATED BY LARAVEL & VITE</h3>

          </div>
        </div>
      </div>
    </div>
    <!--&&&& Model img 3 -->
    <div
      class="modal fade"
      id="Modal3"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i class="fa-solid fa-xmark fs-4 text-info"></i>
            </button>
          </div>

          <div class="modal-body p-0">
            <img src="assets/portfolio/prj3.png" class="w-100" alt="" />
            <h3 class="info my-5" > PROJECT CREATED BY LARAVEL</h3>

          </div>
        </div>
      </div>
    </div>

    <!--&&&& Model img 4 -->

    <div
    class="modal fade"
    id="Modal4"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="fa-solid fa-xmark fs-4 text-info"></i>
          </button>
        </div>

        <div class="modal-body p-0">
          <img src="assets/portfolio/prj4.png" class="w-100" alt="" />
          <h3 class="info my-5" > PROJECT CREATED BY REACTJS & LARAVEL</h3>

        </div>
      </div>
    </div>
  </div>
    
  </div>
</section>
