<section class="text-center text-white py-5 home-parent">
  <div class="mx-auto div-img">
    <img src="assets/IMG_20230608_211517_063.jpg" class="w-100 photo" alt="" />
  </div>

  <div class="info mt-3">
    <h2>MODERN FULL STACK DEV</h2>

    <div
      class="d-flex justify-content-center align-items-center text-white mt-3"
    >
      <div class="line me-3"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3"></div>
    </div>
    <div class="personal-info mt-3">
      <p>MERN STACK Developer</p>
       <h2>UI/UX DESIGNER </h2>
       <h2>VIDEO EDITOR , Photographer </h2>
    </div>
  </div>
</section>
